
h1{
    color: purple;
    font-size: xx-large;
}
button {
    background-color: purple;
    width: 200px;
    color: white;
}
h4{
    color: rgb(179, 88, 179);
}
h5{
    color: rgb(196, 124, 196);
}
h6{
    color: rgb(214, 160, 214);

}